.cta-section{
    padding: 20px 50px;
}
.cta-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.right-cta{
    background: linear-gradient(to bottom,#F5FF83,#93994F);
    padding: 70px 10px;
    text-align: end;
    flex-basis: 40%;
    border-radius:50% 20px 20px 50%;
}
.image-cta{
    padding: 0 40px;
}
.right-cta img{
    width: 400px;
    align-items: center;
}
.left-cta{
    padding: 40px;
}
.left-cta h1{
    font-size: 2.6rem;
}
.left-cta p{
    font-size: 1rem;
    margin-bottom: 15px;
}
.cta-btn{
    display: flex;
    align-items:center;
    gap: 40px;
    margin-top: 50px;
}
.left-cta button img{
    width: 40px;
}
.cta-btn span{
    display: flex;
    align-items: center;
    gap: 3px;
}










@media screen and (max-width:900px) {
    .cta-section{
        padding: 50px 20px;
    }
    .right-cta img{
        width: 80%;
    }
    .left-cta h1{
        font-size: 2rem;
        text-align: center;
        width: 100%;
    }
    .left-cta p{
        font-size: 0.8rem;
        text-align: center;
    }
    .cta-btn{
        flex-direction: column;
        margin-top: 20px;
        gap: 20px;
    }
    .image-cta{
        padding: 20px;
        width: 400px;
    }
    
}









@media screen and (max-width:600px) {
    .cta-section{
        padding: 50px 20px;
    }
    .cta-container{
        flex-direction: column-reverse;
        width: 100%;
    }
    .right-cta img{
        width: 100%;
    }
    .right-cta{
        background: linear-gradient(to top,#F5FF83,#F5FF83,#F5FF83,#93994F);
        padding: 70px 10px;
        text-align: end;
        flex-basis: 50%;
        border-radius:20px 20px 50% 50%;
    }
    .left-cta h1{
        font-size: 2rem;
        text-align: center;
        width: 100%;
    }
    .left-cta p{
        font-size: 0.8rem;
        text-align: center;
    }
    .cta-btn{
        flex-direction: column;
        margin-top: 20px;
        gap: 20px;
    }
    .image-cta{
        padding: 20px;
        width:100%
    }
}